* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    padding: 20px;
    background: gray;
  }

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: black;
    color: white;
  }

  .leftcolumn {   
    float: left;
    width: 75%;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  

  .fakeimg {

    width: 50%;
    height: 50%;

  }
  
  .card {
     background-color: white;
     padding: 50px;
     margin-top: 20px;
  }
  .cards {
    background-color: white;
    padding: 20px;
    margin-top: 60px;
 }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .copy-right {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
  }
  
  .copy-right p {
    font-size: 14px;
    color: #fff;
    margin: 0;
  }
  
  .copy-right a {
    color: #fff;
    text-decoration: none;
  }
  
  .copy-right a:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}
.follow-btn {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  img {  
    width: 1170px;  
    height: 200px;  
    }  

    #like-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
    }
    
    #like-btn:hover {
      background-color: #3e8e41;
    }
